LOGIN=LOGIN
DATA_PATH=/home/login/data
DOMAIN_NAME=login.42.fr

MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser

WP_TITLE=Inception
WP_ADMIN_USER=user1_wp
WP_ADMIN_EMAIL=user1@student.42.fr
WP_USER=user2_wp
WP_USER_EMAIL=user2@student.42.fr

FTP_USER=user3_ftp
FTP_PASV_ADDRESS=127.0.0.1

STATS_USER=user4_stats